FITSPIRATION_DB_URL=
FITSPIRATION_DB_HOST=localhost
FITSPIRATION_DB_NAME=fitspiration
FITSPIRATION_DB_PORT=3306
FITSPIRATION_DB_USER=root
FITSPIRATION_DB_PASSWORD=

FITSPIRATION_WS_URL=ws://127.0.0.1:8081
FITSPIRATION_WS_SECRET=fitspiration-local-websocket-secret-2026
FITSPIRATION_WS_PUBLIC_HOST=127.0.0.1
